@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'DM Sans', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    font-size:18px;
    font-weight: 700;
    padding: 2rem;
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    backdrop-filter: blur(20px);
}
span{
    width: 400px;
    height: 30px;
    background-color: rgba(220, 20, 60, 0.315);
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid crimson;
    padding-top: 11px;
    padding-left: 5px;
    margin: 5px 0;
}
h1{
    text-decoration: underline;
    color: crimson;
}
@media only screen and (max-width: 768px) {
    form{
        height:  100%;
        width: 100%;
    }
    span{
        width: 100%;
    }
}